<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión o registrarte</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Bienvenido
                </div>
                <div class="card-body">
                    <p>Por favor, elige una opción:</p>
                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary">Iniciar sesión con Google</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
